* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: auto;
    width: auto;
    margin: 0;
    overflow-x: hidden;
  }
  header {
    padding: 30px;
    text-align: center;
  }
  table {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
    text-align: left;
    border: outset;
  }
  
  table.srt th {
    position: relative;
  }
  button {
    margin: 0;
    padding: 1rem;
    border: none;
    background-color: red;
    text-align: left;
    color: white;
    font-size: 20px;
  }
  td {
    padding: 0.4rem;
    text-align: left;
  }
  table.srt th button {
    width: 100%;
    display: inline;
    cursor: pointer;
  }
  
  table.srt th button span {
    width: 100%;
    padding: 1rem;
    position: absolute;
  }
  
  table.srt tbody tr:nth-child(odd) {
    background: gainsboro;
    color: black;
  }
  .cat_square {
    width: 100px;
  }
  